.card {
  perspective: 150rem; // big num perpective need to be located at the parent of transform:rotateY
  -moz-perspective: 150rem; // pretty new so firefox need this line
  position: relative;
  height: 50rem; // height of the parent and child need to be same in order to do perpective somehow clearfix does not work ...

  &__side {
    height: 50rem; // height of the parent and child need to be same in order to do perpective somehow clearfix does not work ...
    width: 100%;
    position: absolute;
    color: #fff;
    font-size: 3.6rem;
    transition: all .8s ease;
    backface-visibility: hidden; // entire back side of the card is not shown at all ~

    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: rgba(red, 0.5);
    }
    &--back {
      transform: rotateY(-180deg);
      background-color: rgba(green, 0.5);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
        background-color: green;
      }
    }
  }

  &:hover &__side--front {
    transform: rotateY(180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }
}
