.form-card {
  // height: 40rem;
  width: 70%;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-white, 0.8),
      rgba($color-white, 0.8)
    ),
    url('../img/nat-10.jpg');
  background-size: cover;
  margin: 0 auto;
  padding: 3rem;
}

.input-wrapper {
  width: 50%;
}

.input-field {
  display: block;
  padding: 1.5rem;
  font-size: $default-font-size;
  color: $color-gray-dark;
  border: none;
  background-color: rgba($color-white, 0.9);
  width: 100%;

  &:focus {
    outline: none;
  }

  &:not(:last-child) {
    margin-bottom: 4rem;
  }
}

.circle-green {
  width: 2.5rem;
  height: 2.5rem;
  background-color: $color-primary;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
  backface-visibility: hidden;
  float: left;
}

.circle-white {
  width: 60%;
  height: 60%;
  background-color: rgba($color-white, 0.6);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backface-visibility: hidden;
}

.radio-wrapper {
  margin-top: 4rem;
  width: 50%;
}

.radio-group {
  float: left;
  width: 50%;
}
