.form {
  &__group {
    // display & box model
  }

  &__input {
    // display & box model
    padding: 1.5rem 2rem; // larger lr padding looks better than uniform padding for input
    border: none;

    // color
    background-color: rgba($color-white, 0.5);

    // text
    font-size: 1.5rem;
    font-family: inherit; // form has it's own font-family so need to specify inherit
  }

  &__label {
  }
}
