.pop-up {
  background-color: rgba($color-black, .5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5000;

  &__content {
    @include absolute-center;
    background-color: $color-white;
    border-radius: 3px;
    box-shadow: 0 1rem 3rem $color-box-shadow;
    display: table;
    width: 75%;
    z-index: 6000;
  }

  &__left {
    display: table-cell;
    width: 33.333333333%;
  }

  &__right {
    display: table-cell; // so that left and right can have same height
    vertical-align: middle; // available when you use table cell
    width: 66.666666666%;
  }

  &__img {
    display: block;
    width: 100%;
  }


}