.story {
  width: 75%;
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  margin: 0 auto;
  background-color: rgba($color-white, .7);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 8rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  &__shape {
    width: 15rem;
    height: 15rem;
    background-color: $color-test;
    float: left;
    transform: translateX(-3rem) skewX(12deg);

    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    // element need to float, have set width and height

    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);

    position: relative;
  }

  &__text {
    transform: skew(12deg);
  }

  &__img {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.4);
    backface-visibility: hidden; // without this line img shrink cuz of transition no one no why this line fix
    transition: all 0.5s;
  }

  &__caption {
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    text-align: center;
    font-size: 1.8rem;
    opacity: 0;
    transition: all 0.5s;
    text-transform: uppercase;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(3px) brightness(80%);
  }
}
