.btn {
  cursor: pointer;
  background-color: var(--color-primary);
  color: #fff;
  border: none;
  padding: 1.2rem 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: all .2s;
  &:hover {
    background-color: var(--color-primary-dark);
  }
}
