// Color
$color-primary: #7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark: #28b485;

$color-white: #fff;
$color-white-gray: #eee;

$color-gray-light-1: #f7f7f7;
$color-gray-dark: #777;

$color-black: #000;

// fontSize
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$grid-row-gap: 4rem;
$grid-col-gap: 4rem;
