// Color
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-test: rgba($color-primary-dark, 0.5);

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-white: #fff;
$color-white-gray: #eee;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark-1: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-black: #000;

// box-shadow-color
$color-box-shadow-light: rgba($color-black, 0.1);
$color-box-shadow: rgba($color-black, 0.2);
$color-box-shadow-dark: rgba($color-black, 0.5);

// fontSize
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$grid-row-gap: 8rem;
$grid-col-gap: 6rem;

// navigation btn diameter
$nav-btn-diameter: 7rem;
