.link {
  text-decoration: none;
  color: inherit;
}

.navbar-link {
  text-decoration: none;
  display: block;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;

  padding: 1.5rem;

  &--active {
    color: var(--color-grey-light-3);
  }
}
