.link {
  text-decoration: none;
  color: inherit;
}

.navbar-link {
  text-decoration: none;
  display: block;
  color: var(--color-grey-light-3);

  

  &--active {
    color: var(--color-grey-dark-3);
  }
}
