.link {
  text-decoration: none;
  color: inherit;
}

.navbar-link {
  position: relative;

  text-decoration: none;
  display: block;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;

  padding: 1.5rem 2rem;

  &:not(:last-child) {
    margin-bottom: .5rem;
  }

  &::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;

    width: .3rem;
    height: 100%;

    background-color: var(--color-primary);

    transform: scaleY(0);
    transition: transform .2s, width .4s cubic-bezier(1, 0, 0, 1) .2s;
  }

  &:hover::before,
  &--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  transition: color .2s;

  &:hover {
    color: var(--color-grey-light-3);
  }

  &--active {
    color: var(--color-grey-light-3);
    background-color: var(--color-primary);
  }
}
