.navigation {
  position: relative;

  &__background {
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    border-radius: 50%;
    height: $nav-btn-diameter;
    position: fixed;
    right: 7rem;
    top: 7rem;
    transition: all .2s;
    width: $nav-btn-diameter;
    z-index: 1000;
  }

  &__nav {
    height: 100vh;
    width: 100vw;
    top: 0rem;
    right: 0rem;
    position: fixed;
    visibility: hidden;
    z-index: 2000;
  }

  &__checkbox-label {
    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    height: $nav-btn-diameter;
    position: fixed;
    right: 7rem;
    top: 7rem;
    width: $nav-btn-diameter;
    z-index: 3000;
  }

  &__list {
    @include absolute-center;
    top: 45%;
  }

  &__item {
    display: block;
  }

  &__link {
    color: $color-white;
    font-size: 3rem;
    text-decoration: none;
  }

  &__checkbox:checked ~ &__background {
    transform: scale(45);
  }

  &__checkbox:checked ~ &__nav {
    visibility: visible;
  }
}
