.navigation {
  position: relative;

  &__background {
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    border-radius: 50%;
    height: $nav-btn-diameter;
    position: fixed;
    right: 7rem;
    top: 7rem;
    transition: all .2s;
    width: $nav-btn-diameter;
    z-index: 1000;
  }

  &__nav {
    height: 100vh;
    opacity: 0; // for animation
    position: fixed;
    right: 0rem;
    top: 0rem;
    // visibility: hidden;
    // width: 100vw;
    width: 0; // to not able to click
    z-index: 2000;
  }

  &__checkbox-label {
    background-color: $color-white;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem $color-box-shadow-light;
    cursor: pointer;
    height: $nav-btn-diameter;
    position: fixed;
    right: 7rem;
    top: 7rem;
    width: $nav-btn-diameter;
    z-index: 3000;
  }

  &__list {
    @include absolute-center;
    list-style: none; // remove bullet points
    text-align: center;
    top: 45%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      color: $color-white;
      display: inline-block; // to apply padding
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .4s;

      span {
        margin-right: 1rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
    }
  }

  &__icon {
    position: relative;

    &-1,
    &-2,
    &-3 {
      @include absolute-center;
      background-color: $color-gray-dark-3;
      display: inline-block;
      height: 3px;
      position: absolute;
      transition: transform .2s;
      width: 50%;
    }

    &-1 {
      top: calc(50% - .8rem);
    }

    &-3 {
      top: calc(50% + .8rem);
    }
  }

  &__checkbox-label:hover &__icon-1 {
    top: calc(50% - 1rem);
  }

  &__checkbox-label:hover &__icon-3 {
    top: calc(50% + 1rem);
  }

  &__checkbox:checked + &__checkbox-label &__icon-1 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
  }

  &__checkbox:checked+&__checkbox-label &__icon-2 {
    background-color: transparent;
  }

  &__checkbox:checked + &__checkbox-label &__icon-3 {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-135deg);
  }

  &__checkbox:checked ~ &__background {
    transform: scale(45);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100vw;
  }
}
