.navigation {
  position: relative;

  &__background {
    background-image: radial-gradient($color-primary-light, $color-primary-dark);
    border-radius: 50%;
    height: $nav-btn-diameter;
    position: fixed;
    right: 7rem;
    top: 7rem;
    transition: all .2s;
    width: $nav-btn-diameter;
    z-index: 1000;
    //
    transform: scale(45);
  }

  &__nav {
    height: 100vh;
    width: 100vw;
    top: 0rem;
    right: 0rem;
    position: fixed;
    // visibility: hidden;
    z-index: 2000;
  }

  &__checkbox-label {
    background-color: $color-white;
    border-radius: 50%;
    cursor: pointer;
    height: $nav-btn-diameter;
    position: fixed;
    right: 7rem;
    top: 7rem;
    width: $nav-btn-diameter;
    z-index: 3000;
  }

  &__list {
    @include absolute-center;
    list-style: none; // remove bullet points
    text-align: center;
    top: 45%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      color: $color-white;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      text-decoration: none;
      text-transform: uppercase;
      transition: all .4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
    }

  }

  &__checkbox:checked ~ &__background {
    transform: scale(45);
  }

  &__checkbox:checked ~ &__nav {
    visibility: visible;
  }
}
