.u-center-text {
  text-align: center;
}

.u-margin-bot-xs {
  margin-bottom: 1rem;
}

.u-margin-bot-s {
  margin-bottom: 2rem;
}

.u-margin-bot-m {
  margin-bottom: 4rem;
}

.u-margin-bot-l {
  margin-bottom: 8rem;
}

.u-margin-top-l {
  margin-top: 8rem;
}